<div class="container">>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/Perfil.jpg" alt="foto-perfil" class="img-thumbnail" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">Maira Ramirez</p>
      <p>Desarrolladora Full Satck</p>
    </div>
    <div class="col-xs-2 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Acerca de mi</h1>
          <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure cupiditate cum odit? Itaque, eaque. Quae aspernatur temporibus obcaecati, laboriosam ab reiciendis ex ipsum. Fugit, iste numquam exercitationem ipsa natus animi.
          </p>
      </span>
    </div>
</div>