
div{
    background-color: #EFF4F2;
    text-align: center;
    padding-top: 40px;
}
#nombre {
    font-weight: bold;
    margin-top: 40%;
    margin-left: 10px;
}
@media(min-width: 576px){
#fotodeperfil {
    position: absolute;
    width: 15%;
    box-shadow: 3px 3px 3px grey;
    left: 3%;
    top: 600px;
}
}
@media(max-width: 575px){
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 630px;
    }
    }
h1{
    font-family: 'Courier New', Courier, monospace;
}
p{
    margin-bottom: 0;
}