
h1{
    text-align: right;
    margin-right: 45px;
    padding-top: 150px;
    font-size: 4.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Raleway', sans-serif;
}
p{
    text-align: right;
    font-size: 3rem;
    font-family: 'Explora', cursive;
    margin-right: 40px;
    margin-top: -30px;
}
div{
    height: 500px;
    background-color: #EFF4F2;
}
.container{
    max-width: 1400px;
    margin: auto;
}