<div class="container">
  <h1>Hards & Soft skills </h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [imageSrc]= "'../assets/html-1.svg'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits] = "false"
      [showSubtitle] = "false"
      [outerStrokeColor]="'#66666e'"
      [innerStrokeColor]="'#212529'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundOpacity] = "10"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [imageSrc]= "'../assets/css-3.svg'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits] = "false"
      [showSubtitle] = "false"
      [outerStrokeColor]="'#66666e'"
      [innerStrokeColor]="'#212529'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundOpacity] = "10"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [imageSrc]= "'../assets/javascript-1.svg'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits] = "false"
      [showSubtitle] = "false"
      [outerStrokeColor]="'#66666e'"
      [innerStrokeColor]="'#212529'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundOpacity] = "10"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [imageSrc]= "'../assets/github.svg'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits] = "false"
      [showSubtitle] = "false"
      [outerStrokeColor]="'#66666e'"
      [innerStrokeColor]="'#212529'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundOpacity] = "10"
    ></circle-progress>
  </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [imageSrc]= "'../assets/unido.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits] = "false"
      [showSubtitle] = "false"
      [outerStrokeColor]="'#66666e'"
      [innerStrokeColor]="'#212529'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundOpacity] = "10"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [imageSrc]= "'../assets/ideas.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showUnits] = "false"
      [showSubtitle] = "false"
      [outerStrokeColor]="'#66666e'"
      [innerStrokeColor]="'#212529'"
      [animation]="true"
      [animationDuration]="1000"
      [backgroundOpacity] = "10"
    ></circle-progress>
  </div>
</div> 